:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  padding: 2.5rem;
  line-height: 1.6;
  font-weight: 400;
  background-color: #fff;
  overscroll-behavior-y: none;
  color: var(--color-light--2);
  font-family: 'Manrope', sans-serif;
}
